[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdown = "*"
pytesseract = "*"
pypdf2 = "*"
pdf2image = "*"
numpy = "*"
opencv-python = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
